<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.comp3717project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".Heroes"
            android:label="@string/title_activity_heroes" />
        <activity
            android:name=".MatchActivity"
            android:label="@string/title_activity_recent_games" />
        <activity
            android:name=".Items"
            android:label="@string/title_activity_items" />
        <activity
            android:name=".HeroDetail"
            android:label="@string/title_activity_hero_detail"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>
